*{ margin: 0; padding: 0; box-sizing: border-box;font-family:"Manrope", sans-serif ;}

html{
    font-size: 16px;

}


 :root {
    /* COLOR PALETTE*/
    --RoyalBlue-Primary:#1D5C69;
    --Midnight-Bg-Dark:#111621;
    --Slate-Secondary:#506795;
    --Vapor-Bg-Light:#F6F6F8;

    /* TYPOGRAPHY */
    --font-base: 'Inter', system-ui, sans-serif;
   
    --Display-XL: 70px;
    --Heading-L: 36px ;
    --Heading-M: 1.5rem;
    --Body: 0.86rem;

    /* BORDER RADIUS */
    --Small:4px;
    --Medium:8px;
    --Large:16px;
    --Pill:999px;

}

/*
 .manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
*/


/*HEADER*/
.header-container{
    background-color: var(--Vapor-Bg-Light);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-container-nav{
    display: flex;
    gap: 36px;
}
/* INNER*/
.header-inner{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    }

    .dot{
    width: 10px;
    height: 10px;
    background-color:#22C55E;
    font-weight: 900;
    border-radius: var(--Pill);
    margin-right: 12px;
}


.availability-status{
    padding: 6px 16px ;
    background-color:#E6FBEA;

    border-radius: var(--Pill);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.08em;
    font-size: 0.87rem;
    display: flex;
    align-items: center;
    border: 2px solid #B7F0C2

}
.status-dot{
    color:#1F7A3F
;
}

nav a{
    text-decoration: none;
    color: var(--Slate-Secondary);
    font-size: var(--Body);
    font-weight: 800;
    display: flex;
    align-items: center;
}

/*HERO*/

.hero-section-container{
    width: 100%;
    height: 500px;
    background-color: #8febb1;
    padding-top: 82px;

}
/* INNER*/
.hero-section-inner{
    margin: auto;
    width: 90%;



}

h1{
    font-size: var(--Display-XL);
    font-weight: 900;
    line-height: 70px;
    margin-bottom: 12px;

}
.hero-section-subtitle{
    font-size: var(--Heading-M);

    font-weight: 400;

}
.hero-section-container-btn{
margin-top: 32px;
display: flex;
gap:14px ;
}

.styling-btn{
    padding: 12px 18px;
    border-radius: var(--Medium);
    border: none;
    font-size: var(--Body);
    font-weight: 600;

}

/*SERVICIOS*/

.services-container{
    background-color: #c99835;
    padding-top: 52px;
    padding-bottom: 52px;
}

.services-container-inner{
    margin: auto;
    width: 90%;
}

.services-container-header{
    margin-bottom: 42px;
}

.services-container-header h2{
    font-size: 36px;
    width: 60%;
    font-weight: 900;
    line-height: 48px;
}


.services-container-header p{
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 800;
}

.services-grid{
display:grid;
grid-template-columns: repeat(3, 1fr);
gap: 1rem;
list-style: none;
}

.services-card{
   
    display: flex;
    flex-direction: row;
    padding: 32px 28px;
    background-color: #dfe9ff;
    border-radius: 12px;
}

.services-card article h3{
    margin-bottom: 8px;
}

.services-card article p{
    margin-bottom: 8px;
    font-weight: 600;
    color: #7186b4;
}

.services-card article button{
 margin-top: 12px;


}

.services-icon{
    width: 36px;
    height: 36px;
    background-color: #98b0e2;
    margin-bottom: 12px;
    border-radius: var(--Medium);
}


/*QUOTE*/

.quote-container{
    background-color: #f5f8ff;
}

.quote-container h2{
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 70%;
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
    
}
.quote-container b{
 font-weight: 800;
 text-transform: upp;
 color: #001317;
font-style: italic;
    
}




/*PORFOLIO*/

.portfolio-container{
    background-color: #22C55E;
}
