*{ margin: 0; padding: 0; box-sizing: border-box;font-family:"Manrope", sans-serif ;}

html{
    font-size: 16px;

}


 :root {
    /* COLOR PALETTE*/
    --RoyalBlue-Primary:#1D56C9;
    --Midnight-Bg-Dark:#111621;
    --Slate-Secondary:#506795;
    --Vapor-Bg-Light:#F6F6F8;

    /* TYPOGRAPHY */
    --font-base: 'Inter', system-ui, sans-serif;
   
    --Display-XL: 70px;
    --Heading-L: 36px ;
    --Heading-M: 1.5rem;
    --Body: 0.86rem;

    /* BORDER RADIUS */
    --Small:4px;
    --Medium:8px;
    --Large:16px;
    --Pill:999px;

}

/*
 .manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
*/


/*H E A D E R -----------------*/
.header-container{
    background-color: var(--Vapor-Bg-Light);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: #d3d7de 1.5px solid;
}

.header-container-nav{
    display: flex;
    gap: 36px;
}
/* INNER*/
.header-inner{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    }

    .dot{
    width: 10px;
    height: 10px;
    background-color:#22C55E;
    font-weight: 900;
    border-radius: var(--Pill);
    margin-right: 12px;
}


.availability-status{
    padding: 1px 16px ;
    background-color:#E6FBEA;
    
   /* border-radius: var(--Pill);*/
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.08em;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    border: 2px solid #B7F0C2

}
.status-dot{
    color:#1F7A3F;
}

nav a{
    text-decoration: none;
    color: var(--Slate-Secondary);
    font-size: var(--Body);
    font-weight: 800;
    display: flex;
    align-items: center;
}

/*H E R O -----------------*/

.hero-section-container{
    width: 100%;
    height: 600px;
    background-color: var(--Vapor-Bg-Light);
    display: flex;
}

/* HERO INNER*/
.hero-section-inner{
    margin: auto;
    width: 90%;
}

h1{
    font-size: var(--Display-XL);
    font-weight: 900;
    line-height: 70px;
    margin-bottom: 12px;
}
.hero-section-subtitle{
    font-size: var(--Heading-M);
    font-weight: 400;
}

.hero-section-container-btn{
margin-top: 32px;
display: flex;
gap:16px ;
}

.styling-btn{
    padding: 12px 18px;
    border-radius: var(--Medium);
    border: none;
    font-size: var(--Body);
    font-weight: 600;
    background-color: var(--RoyalBlue-Primary);
    color: #fff;
}

.styling-btn:hover{
        background-color: var(--Slate-Secondary);

}


.styling-project-btn{
    padding: 12px 18px;
    border-radius: var(--Medium);
    border: none;
    font-size: var(--Body);
    font-weight: 600;
}


.styling-project-btn:hover{
        background: #8fbedb;

}

.section-title {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 800;
}


/*S E R V I C E S ---------------------------------*/

.services-container{
    background-color: #ffffff;
    padding-top: 52px;
    padding-bottom: 52px;
}

.services-container-inner{
    margin: auto;
    width: 90%;
}

.services-grid > .services-card:last-child{
    background-color: var(--RoyalBlue-Primary)
}

.services-grid  .services-card button{
    background-color: var(--Vapor-Bg-Light);
    color: var(--RoyalBlue-Primary);
    font-weight: 900;
}





.services-container-header{
    margin-bottom: 42px;
}




.services-grid{
display:grid;
grid-template-columns: repeat(3, 1fr);
gap: 1rem;
list-style: none;
}

.services-card{
   
    display: flex;
    flex-direction: row;
    padding: 32px 28px;
    background-color: var(--Vapor-Bg-Light);
    border-radius: 12px;
}

.services-card article h3{
    margin-bottom: 8px;
}

.services-card article p{
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--Slate-Secondary);
    font-size: var(--Body);
}

.services-card article button{
 margin-top: 12px;


}

.services-icon{
    width: 36px;
    height: 36px;
    background-color: #98b0e2;
    margin-bottom: 12px;
    border-radius: var(--Medium);
}













/*QUOTE*/

.quote-container{
    background-color: #f5f8ff;
}

.quote-container h2{
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 70%;
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
    
}
.quote-container b{
 font-weight: 800;
 text-transform: upp;
 color: #001317;
font-style: italic;
    
}




/*PORFOLIO*/


.portfolio-container{

}

.portfolio-container-inner{
    margin: auto;
    width: 90%;
    padding-top: 50px;  
}

.portfolio-container-inner header{

    padding-bottom: 50px;  
}


.section-header{
    font-size: 36px;
    width: 60%;
    font-weight: 900;
    line-height: 48px;
}

.portfolio-project-card h3{
    font-weight: 900;
}

.selected-works{
    background-color: #1D56C9;
}

.portfolio-project{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 42px;
    padding-bottom: 50px;

}
.portfolio-project-card p{
    margin-top: 8px;
    color: #506795;

}

.project-pic{
    background-color: #001317;
    width: 100%;
    height: 400px;
    border-radius: var(--Large);
    margin-bottom: 18px;
    
}

/*--A B O U T ---------------*/

.about-section-container{
    background-color: var(--Vapor-Bg-Light);
    height: max-content;
    padding-top: 82px;
    padding-bottom: 82px;
}
.about-section-inner{
    display: grid;
    width: 90%;
    grid-template-columns:repeat(2, 1fr);
    margin: auto;
    gap: 28px;
}

.about-photo{
    width: 85%;
    height: 300px;
    background-color: hsl(0, 2%, 66%);
    border-radius: var(--Large);
    border: none;

}

.section-header-about{
    font-size: 36px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 24px;
}

/*--F O O T E R ---------------*/

.footer-section-container{
    background-color: #22C55E;
}

.footer-section-inner{
    width: 90%;
    height: 500px;
    margin: auto;
}