*{ margin: 0; padding: 0; box-sizing: border-box;font-family:"Manrope", sans-serif ;}

html{
    font-size: 16px;

}


 :root {
    /* COLOR PALETTE*/
    --RoyalBlue-Primary:#1D5C69;
    --Midnight-Bg-Dark:#111621;
    --Slate-Secondary:#506795;
    --Vapor-Bg-Light:#F6F6F8;

    /* TYPOGRAPHY */
    --font-base: 'Inter', system-ui, sans-serif;
   
    --Display-XL: 70px;
    --Heading-L: 36px ;
    --Heading-M: 1.5rem;
    --Body: 0.86rem;

    /* BORDER RADIUS */
    --Small:4px;
    --Medium:8px;
    --Large:16px;
    --Pill:999px;

}

/*
 .manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
*/


/*HEADER*/
.header-container{
    background-color: var(--Vapor-Bg-Light);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-container-nav{
    display: flex;
    gap: 36px;
}

.header-inner{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    }

    .dot{
    width: 10px;
    height: 10px;
    background-color:#22C55E;
    font-weight: 900;
    border-radius: var(--Pill);
    margin-right: 12px;
}


.availability-status{
    padding: 6px 16px ;
    background-color:#E6FBEA;

    border-radius: var(--Pill);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.08em;
    font-size: 0.87rem;
    display: flex;
    align-items: center;
    border: 2px solid #B7F0C2

}
.status-dot{
    color:#1F7A3F
;
}

nav a{
    text-decoration: none;
    color: var(--Slate-Secondary);
    font-size: var(--Body);
    font-weight: 800;
    display: flex;
    align-items: center;
}

/*HERO*/

.hero-section-container{
    margin: auto;
    width: 100%;
    height: 500px;
    background-color: #8febb1;
    padding-top: 82px;

}

.hero-section-inner{
    background-color: #506795;
    margin: auto;
    width: 90%;



}

h1{
    font-size: var(--Display-XL);
    font-weight: 900;

}
.hero-section-subtitle{
    font-size: var(--Heading-M);
    width: 50%;
    font-weight: 400;

}
.hero-section-container-btn{
margin-top: 42px;
display: flex;
gap:14px ;
}

.styling-btn{
    padding: 12px 18px;
    border-radius: var(--Medium);
    border: none;
    font-size: var(--Body);
    font-weight: 600;

}