*{ margin: 0; padding: 0; box-sizing: border-box;font-family:"Manrope", sans-serif ;}

html{
    font-size: 16px;

}


 :root {
    /* COLOR PALETTE*/
    --RoyalBlue-Primary:#1D56C9;
    --Midnight-Bg-Dark:#111621;
    --Slate-Secondary:#506795;
    --Vapor-Bg-Light:#F6F6F8;

    /* TYPOGRAPHY */
    --font-base: 'Manrope', sans-serif;
     
    
    
    --Display-XL: 70px;
    --Heading-L: 36px ;
    --Heading-M: 1.5rem;
    --Body: 0.90rem;

    /* BORDER RADIUS */
    --Small:4px;
    --Medium:8px;
    --Large:16px;
    --Pill:999px;

}

/*
 .manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
*/


/*H E A D E R -----------------*/
.header{
    background-color: var(--Vapor-Bg-Light);
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: #d3d7de 1.5px solid;
}

/* INNER*/
.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1.5rem;
    }
    
    /*
    .header-container{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    }*/
    
.nav-bar{
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-bar a:hover{
    color: var(--RoyalBlue-Primary);
    transition: 0.75s;
}

.dot{
    width: 8px;
    height: 8px;
    background-color:#22C55E;
    font-weight: 900;
    border-radius: var(--Pill);
    margin-right: 6px;
}


.availability-status{
    width: max-content;
    height: max-content;
    padding: 4px 10px;
    background-color:#E6FBEA;
    border-radius: var(--Pill);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.04em;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    border: 2px solid #B7F0C2

}
.status-dot{
    color:#1F7A3F;
}

nav a{
    text-decoration: none;
    color: var(--Slate-Secondary);
    font-size: var(--Body);
    font-weight: 800;
    display: flex;
    align-items: center;
}

/*H E R O -----------------*/

.hero{
    height: 600px;
    background-color: var(--Vapor-Bg-Light);
    display: flex;
    background-image: url("faizur-rehman-pHPzdEHN6Os-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;



}

/* HERO INNER*/
.hero-container{
    margin: auto 0;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1.5rem;
    
}

h1{
    font-size: var(--Display-XL);
    font-weight:800;
    line-height: 70px;
    margin-bottom: 12px;
}

.hero-section-subtitle{
    font-size: var(--Heading-M);
    font-weight: 400;
}

.hero-section-container-btn{
margin-top: 32px;
display: flex;
gap:16px ;
}

.styling-btn{
    padding: 12px 24px;
    border-radius: var(--Medium);
    border: none;
    font-size: var(--Body);
    font-weight: 600;
    background-color: var(--RoyalBlue-Primary);
    color: #fff;
    box-shadow: 10px 13px 30px -2px rgba(20, 48, 255, 0.21);
}

.styling-btn:hover{
    background-color: var(--Slate-Secondary);
    transition: 0.25s;

}


.styling-project-btn{
    padding: 12px 24px;
    border-radius: var(--Medium);
    border: none;
    font-size: var(--Body);
    font-weight: 600;
    background-color: #fff;
}


.styling-project-btn:hover{
        background: #8fbedb;
            transition: 0.25s;


}

.section-title {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 800;
}

.hero-image{
}

/*S E R V I C E S ---------------------------------*/

.services{
    background-color: #ffffff;
    padding-top: 52px;
    padding-bottom: 52px;
}

.services-container{
    margin: auto;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.services-grid > .services-card:last-child{
    background-color: var(--RoyalBlue-Primary);
        box-shadow: 10px 13px 30px -2px rgba(20, 48, 255, 0.21);

}

.services-grid  .services-card button{
    background-color: var(--Vapor-Bg-Light);
    color: var(--RoyalBlue-Primary);
    font-weight: 900;
}

.services-container-header{
    margin-bottom: 42px;
}

.services-grid{
display:grid;
grid-template-columns: repeat(3, 1fr);
gap: 1rem;
list-style: none;
}

.services-card{
   
    display: flex;
    flex-direction: row;
    padding: 32px 28px;
    background-color: var(--Vapor-Bg-Light);
    border-radius: 12px;
}

.services-card-highlight:hover{
background-color: var(--Slate-Secondary);
transition: 0.55s;
}

/*SERVICE HIGHLIGHT*/
.services-card-highlight{
    display: flex;
    flex-direction: row;
    padding: 32px 28px;
    background-color: var(--RoyalBlue-Primary);
    border-radius: 12px;
}

.services-card-highlight h3{
    color: var(--Vapor-Bg-Light);
    margin-bottom: 8px;

}

.services-card-highlight p{
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--Vapor-Bg-Light);
    font-size: var(--Body);

}

.services-card-highlight article button{
 margin-top: 12px;
 background-color: var(--Vapor-Bg-Light);
 color: var(--Midnight-Bg-Dark);
}

.services-card-highlight article button:hover{
 background-color:#fff200;
}


.services-icon-highlight{
    width: 36px;
    height: 36px;
    /*background-color: #98b0e2;*/
    color: #ffffff;
    margin-bottom: 12px;
    border-radius: var(--Medium);
    
}


.services-card article h3{
    margin-bottom: 8px;
}

.services-card article p{
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--Slate-Secondary);
    font-size: var(--Body);
}

.services-card article button{
 margin-top: 12px;
}

.services-icon{
    width: 36px;
    height: 36px;
    /*background-color: #98b0e2;*/
    color: #001317;
    margin-bottom: 12px;
    border-radius: var(--Medium);
    
}


/*QUOTE*/

.quote{
    background-color: #f5f8ff;
}

.quote h2{
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1.5rem;
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;    
}

.quote b{
 font-weight: 800;
 text-transform: upp;
 color: #001317;
 font-style: italic;
}



/*PORFOLIO*/


.portfolio{

}

.portfolio-container{
    padding-top: 50px;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1.5rem;  
}

.portfolio-container header{
    padding-bottom: 50px;  
}


.section-header{
    font-size: 36px;
    width: 60%;
    font-weight: 900;
    line-height: 48px;
}

.portfolio-project-card h3{
    font-weight: 900;
}



.portfolio-project{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 42px;
    padding-bottom: 50px;

}
.portfolio-project-card p{
    margin-top: 8px;
    color: #506795;

}

.project-pic{
    background-color: #001317;
    width: 100%;
    height: 400px;
    border-radius: var(--Large);
    margin-bottom: 18px;
    
}

/*--A B O U T ---------------*/

.about{
    background-color: var(--Vapor-Bg-Light);
    height: max-content;
    padding-top: 82px;
    padding-bottom: 82px;
}
.about-container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    margin: auto;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.about-photo{
    width: 85%;
    height: 300px;
    background-color: hsl(0, 2%, 66%);
    border-radius: var(--Large);
    border: none;

}

.about-description{
        line-height: 26px;

}

.section-header-about{
    font-size: 36px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 24px;
}

/*--F O O T E R ---------------*/

.footer-section{
    background-color: var(--Midnight-Bg-Dark);
}

.footer-container{
    height: 500px;
    margin: auto;
    padding-top:80px;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1.5rem;

}

.footer-title{
    font-size: var(--Display-XL);
    font-weight: 900;
    margin-bottom: 32px;
    color: var(--Vapor-Bg-Light);
}

.footer-container h2{
    margin-top:32px;
    margin-bottom: 32px;
    border-bottom: 2px solid #313739;
    padding-bottom: 32px;
    color: var(--Vapor-Bg-Light);
}

.footer-container p{
    color:var(--Vapor-Bg-Light)

}

.footer-contact-section a{
    margin-left: 12px;
    color: var(--Vapor-Bg-Light);

}

.footer-lastline{
    display: flex;
    justify-content: space-between;

}

.footer-lastline h3{
    color: var(--Vapor-Bg-Light);

}