*{ margin: 0; padding: 0; box-sizing: border-box;}

.header-container{
    background-color: rgb(178, 153, 121);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-container-nav{
    display: flex;
    gap: 16px;
}

.header-inner{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    }